*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.shop-container{
    display: flex;
    margin: 20px 10px;
}

.product-container{
    width: 70%;
    margin-left: 20px;
    margin-right: 5px;
    border-right: 1px solid black;
}